// COLORS
$white: #ffffff;
$black: #151515;
$very-light-pink: #d7d7d7;
$dark-grey-blue: #263a49;
$black-two: #000000;
$brown-grey: #959595;
$greyish-brown: #454545;
$brown-grey-two: #aaaaaa;
$very-light-pink-two: #eeeeee;
$tomato: #dc2b2b;
$greyish-brown-50: rgba(69, 69, 69, 0.5);
$black-three: #111111;
$brown-grey-three: #858585;
$denim: #375973;

// MAX-WIDTH
$max-width-container: 1350px;
