@import "./breakpoints";
@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  touch-action: auto;
  scroll-behavior: smooth;
}

.nav {
  &__list {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
  }

  &__item {
    padding-bottom: 5px;
    font-size: 15px;
    cursor: pointer;

    &--active {
      border-bottom: 2px solid $black;
    }
  }
}

.header {
  width: 100%;
  position: absolute;
  top: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1325px;
    margin: 0 auto;
  }

  &--hide-desktop {
    @include breakpoint(laptop) {
      display: none;
    }
  }

  &--show-desktop {
    display: none;

    @include breakpoint(laptop) {
      display: block;
    }
  }

  &--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-items: flex-start;
  }

  &__icons {
    display: grid;
    grid-auto-flow: column;
    gap: 2px;
  }

  &__amount {
    position: relative;
    &::after {
      content: "3";
      position: absolute;
      color: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -70%);
      font-size: 10px;
    }
  }
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background: url("../assets/-e-Layer_588.png") no-repeat;
  background-position: center;
  background-size: cover;

  @include breakpoint(tablet) {
    background-image: none;
    background-color: $very-light-pink;
  }

  &__button {
    position: fixed;
    bottom: 50px;
    right: -70px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    z-index: 2;
    transition: 0.3s all;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: 25px;
    cursor: pointer;

    &--show-button {
      transform: translateX(-80px);
    }
  }
}

.carousel {
  background-color: $dark-grey-blue;
  padding: 50px 0;
  width: 100%;

  &__wrapper {
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &__price {
    font-weight: bold;
  }
}

.swiper-container {
  max-width: $max-width-container;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $very-light-pink;
  width: 268px;
  height: 338px;
  position: relative;

  &--active {
    color: $white;
    background-color: $brown-grey-three;
  }
}

.arrivals {
  display: grid;
  padding: 0 16px;

  &__title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 60px 0;

    @include breakpoint(laptop) {
      font-size: 48px;
      font-weight: 500;
      padding: 110px 0;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 15px;
    margin: 0 auto;
    max-width: $max-width-container;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint(big-desktop) {
      grid-template-columns: repeat(4, 310px);
    }
  }

  &__button {
    margin: 50px auto 0;
    border: 2px solid $black;
    background-color: transparent;
    padding: 18px 33px;
    cursor: pointer;
    outline: none;

    @include breakpoint(big-desktop) {
      margin: 50px auto 100px;
    }
  }
}

.card {
  display: grid;
  gap: 25px;
  font-size: 13px;
  font-weight: bold;

  &__image {
    height: 208px;
    background-color: $very-light-pink;
  }

  &__wrapper {
    display: grid;
    gap: 10px;
  }

  &__info {
    font-size: 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: 5px;
  }

  &__description {
    font-weight: normal;
  }

  &__price {
    &--discount {
      color: $brown-grey;
      text-decoration: line-through;
      margin-left: 5px;
    }
  }

  &__select {
    display: flex;
    justify-content: space-between;
  }

  &__select-option {
    cursor: pointer;
  }

  &__icon-select {
    margin-right: 10px;
    cursor: pointer;
  }
}

.advertisement {
  padding: 0 16px;
  margin-top: 50px;

  &__container {
    display: grid;
    gap: 10px;
    max-width: $max-width-container;
    margin: 0 auto;

    @include breakpoint(phablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(laptop) {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 50% 50%;
      grid-template-areas:
        "dress school jewelery"
        "dress sunglasses sunglasses";
    }
  }

  &__card {
    background-color: $very-light-pink;
    &--1 {
      height: 398px;

      @include breakpoint(laptop) {
        height: 640px;
        grid-area: dress;
      }
    }

    &--2 {
      height: 282px;

      @include breakpoint(laptop) {
        height: 100%;
        grid-area: school;
      }
    }

    &--3 {
      height: 282px;

      @include breakpoint(laptop) {
        height: 100%;
        grid-area: jewelery;
      }
    }

    &--4 {
      height: 245px;

      @include breakpoint(laptop) {
        height: 310px;
        grid-area: sunglasses;
      }
    }
  }
}

.newsletter {
  padding: 50px 16px;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid $very-light-pink-two;
  max-width: $max-width-container;
  margin: 0 auto;
  @include breakpoint(laptop) {
    padding: 100px 16px;
  }

  &__container {
    max-width: 650px;
    margin: 0 auto;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;

    @include breakpoint(laptop) {
      font-size: 30px;
    }
  }

  &__text {
    margin: 40px 0;
    font-size: 13px;

    @include breakpoint(laptop) {
      font-size: 16px;
      margin: 50px 0;
    }
  }

  &__form {
    position: relative;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
    border-bottom: 1px solid $black;
  }

  &__button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    outline: none;
    cursor: pointer;
  }

  &__info {
    font-size: 13px;
    text-align: left;
    margin-top: 25px;
  }
}

.footer {
  &__top-wrapper {
    display: grid;
    gap: 30px;
    align-items: center;
    padding: 35px 16px;
    border-bottom: 1px solid $very-light-pink;

    @include breakpoint(laptop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__icons {
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    justify-content: left;
  }

  &__link {
    cursor: pointer;
  }

  &__rules {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

    @include breakpoint(laptop) {
      display: grid;
      gap: 45px;
      grid-auto-flow: column;
      font-size: 13px;
    }
  }

  &__settings {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    justify-content: left;
  }

  &__settings-wrapper {
    display: grid;
    gap: 15px;
    grid-auto-flow: column;
    justify-content: left;
  }

  &__text {
    font-size: 13px;
    font-weight: 500;
    color: $brown-grey-three;
  }

  &__bottom-wrapper {
    font-size: 13px;
    font-weight: 500;
    display: grid;
    gap: 20px;
    padding: 20px 16px;

    @include breakpoint(laptop) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.lds-roller {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
